<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn" %>
<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html lang="en-US">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
<body>
<div id="container">
  <div id="page-top">
    <div id="header-wrapper">
      <div id="header">
        <div id="logo">Аптечный склад</div>
        <div id="menu-wrapper">
          <div id="smoothmenu1" class="ddsmoothmenu">
            <ul>
              <li><a href="/MyBlog" class="selected">Главная</a></li>
              <li><a href="/MyBlog/add" class="selected">Добавить товар</a></li>
              <li><a href="registration">Регистрация</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> 